venv/
.env
*.json
# Terraform local state and history
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log
crash.*.log

# CLI configuration files
.terraformrc
terraform.rc

# OS or IDE specific files
.DS_Store
.vscode/
.idea/
dbt_modules/
logs/
.DS_Store
